.IndividualContributionWrapper {
  padding: 0;
  margin: 0;
  background-color: white;
  height: 100vh;
  display: flex;
  top: 0;
}
.editContributionBackground{
  height: 90vh;
  width: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 218, 218);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 80px;
  z-index: 999;
  

}
.wrapper{
  height: 100vh;
  margin-bottom: 5px;
 

}
@media screen and (max-width:600px){
  input{
    width:300px !important;
    align-items: center !important;
  }
  .textareaPlace{
    
    width: 300px !important;
    
    
  }

  
}
input{
  margin-top: 5px !important;
  /* background-color: white !important; */
  border-radius: 10px;
}
.textareaPlace{
  margin-top: 5px;
  width: 100%;
  height: 80px;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 20px;
}
.textareaPlace:focus{
 outline: none;
}
.IndividualContribution {
  flex: 6;
  width: 100%;
  margin-left: 50px;
}
.otherDiv {
  flex: 6;
}

.contributionHeader {
  font-size: 18px !important;
  margin-top: 50px;
  text-align: start;
  display: flex;
  justify-content: start;
  text-transform: capitalize;
  color: teal;
}
.IndividualContribution > p {
  font-size: 18px;
  color: rgb(29, 28, 28);
  font-weight: 400;
  line-height: 25px;
;
}
.author {
  margin-top: 20px;
  color: rgb(22, 13, 13);
}
.author > span {
  text-decoration: underline;
}

.paymentButton {
  width: 200px;
  margin-top: 30px;
  background: rgb(108, 228, 228);
  color: black;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid black;
}
.paymentButton:hover {
  background: rgb(232, 236, 236);
}
.socialIcons {
  display: flex;
  margin-top: 40px;
}


.target {
  margin-left: 10px;
  margin-top: 30px;
}
.amount-raised-container {
  margin: 40px;
  margin-left: 30px;
}

.editButton{
  background-color: #27ae60;
  width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color:white;
  padding: 10px;
  height: 40px;
  margin: 10px;

}
.deleteButton{
  background-color: red;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  height: 40px;
  color: white;
  cursor: pointer;
  margin: 10px;

}
.refereeHeader{
  margin-right: 20px;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
  color: teal;

}
.refereeList{
  list-style: none;


}
.refereeListItem{
  line-height: 30px;
  text-decoration: none !important;

}


.amount-raised {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #666;
  border: 2px solid #333;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  z-index: 2;
}
.amount-raised .amount-text {
  font-weight: bold;
}

.dollars-per-mile {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #eee;
  border: 1px solid #333;
  padding: 5px 15px 5px 40px;
  margin-left: -30px;
  position: relative;
  z-index: 1;
}
.editContribution {
  margin-top: 40px;
  margin-right: 50px;
}
.contributionBackground {
  height: 100%;
  width: 100% !;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(214, 218, 218);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin-top: 50px;
}
.updateContributionForm {
  margin-bottom: 40px;
  width: 70%;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  flex-direction: column;
   padding: 25px;
  -webkit-box-shadow: 4px 5px 10px -3px #000000;
  box-shadow: 4px 5px 10px -3px #000000;
}
.editForm {
  display: flex;
  flex-direction: row;
  height:50vh;
  
  background-color:white;
}
.inputs {
  width: 50%;
  margin-top: 0px;
}
             
.textareas {
  width: 50%;
  margin-left: 10px;
}
.textareas > textarea {
  height: 100%;
}
.x{
  background-color: tan;
  
}
.editBtns {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
  width: 100%;
 
  
}

.editBtn {
  background: #2ecc71;
  width: 40%;
  padding: 10px;

  color: white;
  border-radius: 4px;
  border: #27ae60 1px solid;
cursor:pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 0.8em;
}
.cancelButton {
  background: red;
  width: 40%;
  padding-top: 5px;
  padding: 10px;
  color: white;
  border-radius: 4px;
  border: red 1px solid;
cursor:pointer;
  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 0.8em;
}
.deleteBackground{
  height: 100%;
  width: 100% !;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #990000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin-top: 50px;

}
.deleteContainer {
  margin-bottom: 40px;
  width: 50%;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
   padding: 25px;
  -webkit-box-shadow: 4px 5px 10px -3px #000000;
  box-shadow: 4px 5px 10px -3px #000000;
}
.deleteContainer >h1{
  font-size: 20px;
  text-align: center;
}
.deleteContainer >p{
  font-size: 18px;
  text-align: center;
}
.warning{
 
  border-left:solid 5px #ff8080;
  margin-top: 30px;
  padding: 30px;
  background-color: #ffe6e6;
  color: #b30000;
}
.warning>p{
 
  color: #b30000;
}
