.dropdown{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  
}
.adminHeader{
    font-size: 18px;
    margin-left: 30px;
    font-weight: 300;
    
}
.dropdownIcon{
    font-size: 20px !important;
    margin-left: 20px;
    cursor: pointer;
    color:black;
}
.dropDownLinks{
    background-color:rgb(219, 231, 231) !important;
    border-radius:10px ;
    display: flex;
    align-items: center !important;
    justify-content: center;
    width: 15%;
    height: 40% !important;
    margin-left: 30px;
    padding: 10px;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    

}
li:hover{
    text-decoration: underline;
}
@media screen and (max-width:600px){
    .dropDownLinks{
        width: 50% !important;
        
    }
    
}